body{
    word-wrap: break-word;
}

.topLine{
    border: 0;
    margin:0;
    float: left;
}

.tag{    
    margin-right: 5px;    
    margin-bottom: 5px;
}

.greenBG{
    background-color: #0F0;
}

.tile{
    float: left; 
    width: 220px;
    height: 200px;
    margin: 4px;
    position: relative;
}

.bottom{
    position: absolute;
    bottom: 0;
    left: 0;
}

.delete{
    float: right !important;
    margin: 3px;
}
